@import "../../styles/variables/variables.scss";

.home-banner {
  text-align: center;
  background: url("../../assets/images/developer_background.png") no-repeat 0 0;
  width: 100%;
  height: 773px;
  max-height: 100%;
  background-size: cover;
  object-fit: cover;

  & h3 {
    color: $headerColor;
    font-size: 35px;
    margin: 0;
    padding-top: 85px;
  }

  & p {
    color: $white;
    font-size: 20px;
    margin: 0;
  }

  .banner-link-container {
    margin: 8px 0;

    & a {
      margin: 0 22px;
      color: $linkColor;
    }

    .banner-link {
      position: relative;
      &::after {
        content: "";
        width: 8px;
        height: 14px;
        background: url("../../assets/svgs/arrow-icon.svg") no-repeat 0 0;
        position: absolute;
        top: 4px;
        right: 0;
        display: inline-block;
      }
    }
  }
}
.no-gutters {
  padding-left: 24px;
  padding-right: 24px;

  @media (max-width: $breakpoint-md) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
