$black: black;
$blackCol: #000000;
$white: white;
$fontFamily: "JioType", "Varela Round", sans-serif;
$hover: #4096ef;
$header: #4096ef;
$navBgColor: #191919;
$headerColor: #166fcc;
$linkColor: #77baff;
$bannerBG: #1a1a1a;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 375px;
